alembic
APScheduler
Django
django-allauth
django-apscheduler
django-filter
exceptiongroup
fastapi
filters
oauthlib
Pillow
prompt-toolkit
psycopg2-binary
pydantic
pydantic_core
PyJWT
python-dateutil
python-dotenv
python3-openid
requests
requests-oauthlib
SQLAlchemy
sqlparse
typing_extensions
uvicorn